body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 36px;
  text-shadow: 2px 2px 2px #ccc;
  color: #0066cc;
}

p {
  font-size: 18px;
}

input {
  width: 100px;
  font-size: 18px;
  padding: 8px;
  border: 2px solid #0066cc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #222;
  color: #fff;
}

button {
  width: 150px;
  font-size: 18px;
  padding: 8px;
  border: 2px solid #0066cc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #0066cc;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #3399ff;
}

#generated-password {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  color: #0066cc;
  text-shadow: 2px 2px 2px #ccc;
}